<%- include('../includes/head.ejs') %>

</head>
<body>
    <section class="vh-100">
        <div class="container h-100 d-flex justify-content-center align-items-center border-rounded"> 
            <div class="border p-5 text-center" style="width: 35rem;">
                <div class="p-4">
                    <h2>Login</h2>
                </div>
                <% if (messageError) { %>
                    <div class="border p-1" style="background-color: salmon;">
                        <p style="color: red"><%= messageError %></p>
                    </div>
                <% } %>
                <div class="pt-5">
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="inputUser" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="user" name="user">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
      </section>


    <%- include('../includes/end.ejs') %>