<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/login_style.css">
</head>
<body>
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
                        <div class="text-center">
                            <img src="/img/logo.png" class="w-25" alt="logo_GIH">
                        </div>
                        <hr>
                        <% if (messageError) { %>
                            <div class="border p-1" style="background-color: salmon;">
                                <p style="color: red"><%= messageError %></p>
                            </div>
                        <% } %>
                        <form action="/login" method="POST" class="my-5">
                            <div class="form-outline mb-4">
                                <label for="inputUser" class="form-label">Usuario</label>
                                <input type="text" class="form-control" id="user" name="user" placeholder="E-mail registrado">
                            </div>
                            <div class="form-outline mb-4">
                                <label for="inputPassword" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                            </div>
                            <div class="text-center pt-1 mb-5 pb-1">
                                <button type="submit" class="btn fa-lg btn_login mb-3">Ingresar</button>
                                <!-- <a class="text-muted disabled" href="#!">Olvidaste tu contraseña?</a> -->
                            </div>
                            <div class="d-flex align-items-center justify-content-center pb-4">
                                <p class="mb-0 me-2">No tienes una cuenta?</p>
                                <button type="button" class="btn btn-sm btn_signup disabled">Sign up!</button>
                            </div>
                        </form>
                    </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">We are more than just a company</h4>
                            <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
<%- include('../includes/end.ejs') %>