<%- include('../includes/head.ejs') %>

</head>
<body>
    <section class="vh-100">
        <div class="container h-100 d-flex justify-content-center align-items-center border-rounded"> 
            <div class="border p-5 w-auto text-center ">
                <div class="border p-4">
                    <h2 class="h2">Login</h2>
                </div>
                <div class="pt-5">
                    <form action="/login" method="post">
                        <div class="mb-3">
                            <label for="inputUser" class="form-label">Usuario</label>
                            <input type="email" class="form-control" id="user">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
      </section>


    <%- include('../includes/end.ejs') %>