<nav class="navbar justify-content-center navbar-dark bg-dark">
    <a class="navbar-brand mx-4" href="#">
      <!-- <img
        src="/docs/4.0/assets/brand/bootstrap-solid.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      /> -->
      GIH
    </a>
  </nav>
  